################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoProjectMVC/.vs/DemoProjectMVC/config/applicationhost.config
*.gitattributes
